footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 126px;
  height: auto;

  padding: 40px 96px;
  margin-top: 144px;
  margin-bottom: 0;

  box-sizing: border-box;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.footer-left div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-left div p {
  font-size: 16px;
  font-family: 'karla';
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.copyright {
  color: rgba(61, 207, 182, 1);
  font-size: 18px;
  font-family: 'fira';
  font-weight: 400;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-right a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-family: 'karla';
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.footer-right a:hover {
  color: #3dcfb6;
}

.footer-right a::after {
  content: '';
  position: absolute;
  left: -15%;
  bottom: 5px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3dcfb6;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.footer-right a:hover::after {
  opacity: 1;
}
