html,
body {
  min-height: 100vh;
  margin: 0;
  background-image: url(/assets/images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-impressum {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 120px 0 120px;
  gap: 24px;
}

.imprint-headline {
  font-size: 64px;
  font-weight: 700;
  padding-top: 149px;
  padding-bottom: 64px;
  color: rgba(61, 207, 182, 1);
}

section h2 {
  font-family: "karla";
  font-weight: 700;
  font-size: 26px;
  color: rgba(255, 255, 255, 1);
}

section h4 {
  font-family: "karla";
  color: white;
  font-weight: 500;
  font-size: 20px;
}

section p {
  font-family: "karla";
  font-weight: 300;
  font-size: 19px;
  color: rgba(61, 207, 182, 1);
}

section a {
  color: rgba(61, 207, 182, 1);
  font-size: 16px;
}

section a:hover {
  color: rgb(77, 255, 225);
}

.list-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: rgba(61, 207, 182, 1);
}
