* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: 'fira';
  background-image: url(images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  user-select: none;
}

.content-max-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: 'fira';
  src: url('fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'karla';
  src: url('fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

h1 {
  color: #d9d9d9;
  font-size: 128px;
  font-weight: 700;
}

h2 {
  color: #d9d9d9;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  color: white;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 98px;
  display: flex;
  align-items: center;
  padding-left: 96px;
  gap: 20px;
}

.header-headline {
  display: flex;
  gap: 32px;
}

.header-headline h3 {
  position: relative;
  cursor: pointer;
}

.header-headline h3:hover {
  color: #3dcfb6;
}

.header-headline h3::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3dcfb6;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.header-headline h3:hover::after {
  opacity: 1;
}

header .language-switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 84px;
  height: 28px;
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 100px;
}

header .language-switcher:hover {
  cursor: pointer;
  border-color: white;
}
.language-button:not(.active):hover {
  color: rgba(61, 207, 182, 1);
}

.language-switcher .language-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 44px;
  height: 28px;
  color: rgba(61, 207, 182, 0.5);
}

.language-switcher .active {
  background-color: rgba(61, 207, 182, 1);
  color: white;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 900px;
  height: 100vh;
}

.nametag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nametag-button-section {
  display: flex;
  gap: 48px;
  cursor: pointer;
}

.nametag-button {
  position: relative;
  border: 1px solid white;
  border-radius: 100px;
  width: 172px;
  height: 48px;
  overflow: hidden;
}

.nametag-button p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  font-size: 18px;
  color: white;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.nametag-button:hover {
  border-color: rgba(61, 207, 182, 1);
}

.nametag-button:hover p {
  color: rgba(61, 207, 182, 1);
  animation:
    buttonFirst 2s linear forwards,
    buttonLoop 5s linear infinite 2s;
}

@keyframes buttonFirst {
  from {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    left: -180px;
    transform: translate(0, -50%);
  }
}

@keyframes buttonLoop {
  from {
    left: 172px;
    transform: translate(0, -50%);
  }

  to {
    left: -180px;
    transform: translate(0, -50%);
  }
}

.textbar {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(-3deg);

  width: 100vw;
  height: 62px;

  background: rgba(255, 255, 255, 0.12);
  overflow: hidden;
  white-space: nowrap;
}

.textbar-track {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.inline-container {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 56px;
  padding-right: 56px;
  flex-shrink: 0;
  font-family: 'karla';
  font-weight: 400;
  font-size: 32px;
  color: rgba(61, 207, 182, 1);
}

#scroll-1 {
  animation: loop-1 9s linear infinite;
}

#scroll-2 {
  animation: loop-2 9s linear infinite;
}

#scroll-3 {
  animation: loop-3 9s linear infinite;
}

#scroll-4 {
  animation: loop-4 9s linear infinite;
}

#scroll-5 {
  animation: loop-5 9s linear infinite;
}

#scroll-6 {
  animation: loop-6 9s linear infinite;
}

@keyframes loop-1 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes loop-2 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes loop-3 {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes loop-4 {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(200%);
  }
}

@keyframes loop-5 {
  from {
    transform: translateX(400%);
  }

  to {
    transform: translateX(300%);
  }
}

@keyframes loop-6 {
  from {
    transform: translateX(500%);
  }

  to {
    transform: translateX(400%);
  }
}

.other-section {
  display: flex;
  position: relative;
  padding-left: 96px;
  padding-right: 96px;
  padding-bottom: 144px;
  gap: 70px;
}

.gradient {
  padding-left: 96px;
  padding-right: 96px;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 144px;
  padding-bottom: 144px;
  gap: 96px;
}

.profil-wrapper {
  position: relative;
  width: 568px;
  height: 568px;
}

.profil-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(./images/profilbild.JPEG);
  background-size: cover;
  background-position: top;
  border-radius: 30px;
  z-index: 2;
}

.stripes {
  position: absolute;
  left: -46px;
  top: 30px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.about-me {
  max-width: 568px;
  padding: 32px;
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 30px;
  background-color: rgba(61, 207, 182, 0.1);
}

.about-me h1 {
  font-weight: 700;
  font-size: 64px;
  color: rgba(61, 207, 182, 1);
}

.who-i-am-container h3 {
  font-size: 24px;
  font-family: 'karla';
  font-weight: 500;
  color: rgba(61, 207, 182, 1);
}

.about-me p {
  word-spacing: 5px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'karla';
  color: rgba(255, 255, 255, 1);
}

.who-i-am-container {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  gap: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}

.aboutme-textbox {
  display: flex;
  gap: 30px;
}

.aboutme-textbox img {
  height: 32px;
  width: 32px;
}

.skillbox {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  padding: 32px;
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 30px;
  background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(44, 236, 201, 0.3) 0%, #192525 100%);
  gap: 32px;
}

.skillbox h1 {
  font-weight: 700;
  font-size: 64px;
  color: rgba(61, 207, 182, 1);
}

.skillbox p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'karla';
  color: rgba(255, 255, 255, 1);
}

.skill-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 144px;
  gap: 96px;
}

.skill-container h3 {
  font-size: 24px;
  font-family: 'fira';
  font-weight: 700;
  color: rgba(61, 207, 182, 1);
}

.skill-container span {
  font-size: 24px;
  font-family: 'fira';
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.textarea-skill {
  display: flex;
  flex-direction: column;
  max-width: 331px;
  gap: 16px;
}

.textarea-skill p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'karla';
  color: rgba(255, 255, 255, 1);
}

.another-skill {
  display: flex;
  gap: 14px;
}

.lets-talk-button {
  position: relative;
  border: 1px solid white;
  border-radius: 100px;
  width: 122px;
  height: 48px;
  overflow: hidden;
}

.lets-talk-button:hover {
  cursor: pointer;
  border-color: rgba(61, 207, 182, 1);
}

.lets-talk-button p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  font-size: 18px;
  color: white;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.lets-talk-button:hover p {
  color: rgba(61, 207, 182, 1);
  animation:
    letsTalkFirst 2s linear forwards,
    letsTalkLoop 5s linear infinite 2s;
}

@keyframes letsTalkFirst {
  from {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    left: -140px;
    transform: translate(0, -50%);
  }
}

@keyframes letsTalkLoop {
  from {
    left: 122px;
    transform: translate(0, -50%);
  }

  to {
    left: -140px;
    transform: translate(0, -50%);
  }
}

.tech-color {
  font-size: 24px;
  font-family: 'fira';
  font-weight: 700;
  color: rgba(61, 207, 182, 1);
}

.skill-icon-box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 72px;
  max-width: 632px;
  justify-items: center;
}

.mindset-bubble {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-30%) translateY(10px);
  width: 220px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  pointer-events: none;
}

.skill-innerbox:hover .mindset-bubble {
  opacity: 1;
  visibility: visible;
  transform: translateX(-30%) translateY(0);
}

.skill-innerbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 104px;
  height: 116px;
  gap: 8px;
}

.skill-innerbox img {
  transition: transform 0.3s ease;
}

.skill-innerbox img:hover {
  transform: scale(1.1);
}

.skill-innerbox p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.growth > p {
  transition: color 0.3s ease;
}

.growth:hover > p {
  color: rgba(61, 207, 182, 1);
}

.headline-projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headline-projects h3 {
  font-family: 'karla';
  font-weight: 700;
  font-size: 24px;
  color: rgba(61, 207, 182, 1);
}

.headline-projects h1 {
  font-family: 'fira';
  font-weight: 700;
  font-size: 64px;
  color: rgba(61, 207, 182, 1);
}

.headline-colleagues h1 {
  width: 100%;
  font-family: 'fira';
  font-weight: 700;
  font-size: 32px;
  color: rgba(61, 207, 182, 1);
  text-align: center;
}

.textfield-projects {
  max-width: 456px;
  padding: 41px 0 41px 0;
}

.textfield-projects p {
  font-family: 'karla';
  font-size: 18px;
  color: white;
}

.projects-section {
  max-width: 880px;
  padding-bottom: 16px;
}

.project-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.project-preview img {
  width: 315.24px;
  height: 212px;
  border-radius: 16px;
  opacity: 0;
  transform: translateX(20px);
  transition: 0.25s ease;
}

.project-preview img.active {
  opacity: 1;
  transform: translateX(0);
}

.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 109px;
  padding: 40px 32px 40px 32px;
  border-top: 1px solid rgba(61, 207, 182, 1);
  border-bottom: 1px solid rgba(61, 207, 182, 1);
}

.projects-container:hover {
  cursor: pointer;
  background-color: rgba(61, 207, 182, 0.3);
}

.projects-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 109px;
  padding: 40px 32px 40px 32px;
  border-bottom: 1px solid rgba(61, 207, 182, 1);
}

.projects-container-bottom:hover {
  cursor: pointer;
  background-color: rgba(61, 207, 182, 0.3);
}

.project-technology {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.projects-container span,
.projects-container-bottom span {
  position: relative;
  font-family: 'fira';
  font-weight: 700;
  font-size: 24px;
  color: white;
}

.projects-container span::after,
.projects-container-bottom span::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 12.56px;
  height: 12.56px;
  background: url('./icons/arrow_outward.png') no-repeat center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.projects-container:hover span::after,
.projects-container-bottom:hover span::after {
  opacity: 1;
}

.projects-container p,
.projects-container-bottom p {
  font-family: 'karla';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.border {
  width: 1px;
  height: 18px;
  background-color: rgba(61, 207, 182, 1);
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.join-image {
  position: absolute;
  top: 260px;
  border-radius: 16px;
  display: none;
}

.loco-image {
  position: absolute;
  top: 310px;
  border-radius: 16px;
  display: none;
}

.bubble-image {
  position: absolute;
  bottom: 16px;
  border-radius: 16px;
  display: none;
}
