* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: 'fira';
  background-image: url(images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #383636;
}

::-webkit-scrollbar-thumb {
  background: #3dcfb6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #35b6a0;
}

.content-max-width {
  max-width: 1440px;
  width: 100%;
  position: relative;
  padding: 0 96px 0 96px;
}

@font-face {
  font-family: 'fira';
  src: url('fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'karla';
  src: url('fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}
a {
  text-decoration: none;
}

h1 {
  color: #d9d9d9;
  font-size: 128px;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #d9d9d9;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  color: white;
}

.other-section {
  display: flex;
  position: relative;
  padding-bottom: 144px;
  gap: 70px;
}

.headline-projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headline-projects h3 {
  font-family: 'karla';
  font-weight: 700;
  font-size: 24px;
  color: rgba(61, 207, 182, 1);
}

.headline-projects h1 {
  font-family: 'fira';
  font-weight: 700;
  font-size: 64px;
  color: rgba(61, 207, 182, 1);
}

.headline-colleagues h1 {
  width: 100%;
  font-family: 'fira';
  font-weight: 700;
  font-size: 32px;
  color: rgba(61, 207, 182, 1);
  text-align: center;
}

.textfield-projects {
  max-width: 456px;
  padding: 41px 0 41px 0;
}

.textfield-projects p {
  font-family: 'karla';
  font-size: 18px;
  color: white;
}

.projects-section {
  max-width: 880px;
  padding-bottom: 16px;
}

.project-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.project-preview img {
  width: 315.24px;
  height: 212px;
  border-radius: 16px;
  opacity: 0;
  transform: translateX(20px);
  transition: 0.25s ease;
}

.project-preview img.active {
  opacity: 1;
  transform: translateX(0);
}

.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 109px;
  padding: 40px 32px 40px 32px;
  border-top: 1px solid rgba(61, 207, 182, 1);
  border-bottom: 1px solid rgba(61, 207, 182, 1);
}

.projects-container:hover {
  cursor: pointer;
  background-color: rgba(61, 207, 182, 0.3);
}

.projects-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 109px;
  padding: 40px 32px 40px 32px;
  border-bottom: 1px solid rgba(61, 207, 182, 1);
}

.projects-container-bottom:hover {
  cursor: pointer;
  background-color: rgba(61, 207, 182, 0.3);
}

.project-technology {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.projects-container span,
.projects-container-bottom span {
  position: relative;
  font-family: 'fira';
  font-weight: 700;
  font-size: 24px;
  color: white;
}

.projects-container span::after,
.projects-container-bottom span::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 12.56px;
  height: 12.56px;
  background: url('./icons/arrow_outward.png') no-repeat center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.projects-container:hover span::after,
.projects-container-bottom:hover span::after {
  opacity: 1;
}

.projects-container p,
.projects-container-bottom p {
  font-family: 'karla';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.border {
  width: 1px;
  height: 18px;
  background-color: rgba(61, 207, 182, 1);
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.join-image {
  position: absolute;
  top: 260px;
  border-radius: 16px;
  display: none;
}

.loco-image {
  position: absolute;
  top: 310px;
  border-radius: 16px;
  display: none;
}

.pokedex-image {
  position: absolute;
  bottom: 16px;
  border-radius: 16px;
  display: none;
}

.no-scroll {
  overflow: hidden;
}
