* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'fira';
}

@font-face {
  font-family: 'fira';
  src: url('fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'karla';
  src: url('fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

h1 {
  color: #d9d9d9;
  font-size: 128px;
  font-weight: 700;
}

h2 {
  color: #d9d9d9;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  color: white;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 98px;
  display: flex;
  align-items: center;
  padding-left: 96px;
  gap: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0) 90%);
}

header .language-switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 84px;
  height: 28px;
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 100px;
}

header .language-switcher:hover {
  cursor: pointer;
  border-color: white;
}
.language-button:not(.active):hover {
  color: rgba(61, 207, 182, 1);
}

.language-switcher .language-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 44px;
  height: 28px;
  color: rgba(61, 207, 182, 0.5);
}

.language-switcher .active {
  background-color: rgba(61, 207, 182, 1);
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nametag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nametag-button-section {
  display: flex;
  gap: 48px;
  cursor: pointer;
}

.nametag-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 100px;
  width: 172px;
  height: 48px;
  overflow: hidden;
}

.nametag-button p {
  font-size: 18px;
  color: white;
  white-space: nowrap;
}

.nametag-button:hover p {
  animation: textMove 3s linear infinite;
}

@keyframes textMove {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-150%);
  }
}

section {
  height: 100vh;
  padding-top: 144px;
  padding-left: 112px;
  padding-right: 96px;
  background-color: rgba(28, 28, 28, 1);
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  gap: 96px;
}

.profil-image {
  width: 568px;
  height: 568px;
  background-image: url(/images/profilbild.JPEG);
  background-size: cover;
  background-position: top;
  object-fit: cover;
  border-radius: 30px;
}

.about-me {
  max-width: 568px;
  height: 540px;
  padding: 32px;
  border-radius: 30px;
  background-color: rgba(61, 207, 182, 0.1);
}

.about-me h1 {
  font-weight: 700;
  font-size: 64px;
  color: rgba(61, 207, 182, 1);
}

.who-i-am-container h3 {
  font-size: 24px;
  font-family: 'karla';
  font-weight: 500;
  color: rgba(61, 207, 182, 1);
}

.about-me p {
  font-size: 18px;
  font-weight: 300;
  font-family: 'karla';
  color: rgba(255, 255, 255, 1);
}

.who-i-am-container {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  gap: 20px;
}
